# Documentación interna (no subir)
docs/

# Dependencies
node_modules/
vendor/

# Build output
dist/
tmp/
out-tsc/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Angular cache
.angular/

# Laravel
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
.phpunit.result.cache
auth.json
